<html>

<head>
    <title>Proforma Invoice</title>
</head>

<body>
    <style>
        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            padding: 0;
            margin: 0;
        }

        table {
            max-width: 1080px;
            margin: 0 auto;
        }

        td {
            white-space: pre-line;
            padding: 6px 12px;
            font-size: 8px;
        }

        table tr th {
            font-size: 14px;
            padding: 6px 12px;
            font-weight: normal;
        }
    </style>
    <!--proforma invoice structure start here -->
    <h3 style="text-align:center; width:100%;">Proforma Invoice</h3>
    <br>
    <table border="1" cellspacing="0" cellpadding="0" style=" width: 100%;padding: 0;border-collapse: collapse; font-family: -webkit-pictograph;">
        <tbody>
            <tr>
                <td colspan="6" style="text-align: center;">
                    <h3>HERBOVEDA INDIA</h3>
                    <p>A-18, SECTOR-23, NOIDA - 201301, U.P. (INDIA)</p>
                    <p>Ph: +91 - 120 4316092, Mobile: +91-9811271853</p>
                    <p>Email:Piyush@herbovedaindia.com, Website: www.herbovedaindia.com</p>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="background-color: #ddd;text-align: center;font-size: 12px;">Proforma Invoice</td>
            </tr>
            <tr>
                <td colspan="2" style="width: 50%;">
                    <ul style="list-style: none;display: block;padding: 0;">
                        <li style="width: 77px;display: inline-block;padding: 0 0 10px;float: left;">Buyer ADDRESS</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;line-height: 6px;">
                            <h3 style="margin-top: -9px;"><b>HERBOVEDA INDIA</b></h3>
                            <p>A-18, Sector - 23, Noida - 201 301</p>
                            <p>Uttar Pradesh, INDIA</p>
                            <p>Ph: +91 120 4316092, IEC No.0504071629</p>
                            <p>GSTN : 09AAJPM4220B1Z4</p>
                        </li>
                        <li style="width: 77px; display: inline-block; padding: 10px 0;vertical-align: top;float: left;">
                            Shipping Address
                        </li>
                        <li style="width: calc(100% - 143px);display: inline-block;vertical-align: top;line-height: 6px;">
                            <h3><b>HERBOVEDA INDIA</b></h3>
                            <p>A-18, Sector - 23, Noida - 201 301</p>
                            <p>Uttar Pradesh, INDIA</p>
                            <p>Ph: +91 120 4316092, IEC No.0504071629</p>
                            <p>GSTN : 09AAJPM4220B1Z4</p>
                        </li>
                        <li style="width: 77px;display: inline-block;padding: 10px 0 0;vertical-align: top;float: left;">Kind
                            Auth</li>
                        <li style="width: calc(100% - 143px);display: inline-block;vertical-align: middle;padding: 10px 0 0;">Gabriela
                            Prosser</li>
                    </ul>
                </td>
                <td colspan="4">
                    <ul style="list-style: none;display: block;padding: 0;margin: 0;">
                        <li style="width: 77px;display: inline-block;padding: 0 0 3px;float: left;">Buyer ADDRESS</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 12px;">
                            P1/LPSA/38</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 4px;float: left;">P1 Date</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 13px;">10th
                            January, 2019</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 3px;float: left;">Buyer Order No.</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 13px;">
                            P1/LPSA/38</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 2px;float: left;">Buyer ADDRESS</li>
                        <li style="width: calc(100% - 100px); display: inline-block; vertical-align: top;height: auto;min-height: 14px;">000001212</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 5px;float: left;">Buyer Order Dt.</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 20px;">
                            P1/LPSA/38</li>
                    </ul>
                    <ul style="list-style: none;display: block;padding: 0;margin-top: -17px;">
                        <li style="width: 77px;display: inline-block;padding: 0 0 3px;float: left;">Buyer ADDRESS</li>
                        <li style="width: calc(100% - 100px); display: inline-block;vertical-align: top;height: auto;min-height: 12px;">
                            P1/LPSA/38</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 4px;float: left;">P1 Date</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 13px;">10th
                            January, 2019</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 3px;float: left;">Buyer Order No.</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 13px;">
                            P1/LPSA/38</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 2px;float: left;">Buyer ADDRESS</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 14px;">000001212</li>
                        <li style="width: 77px;display: inline-block;padding: 0 0 5px;float: left;">Buyer Order Dt.</li>
                        <li style="width: calc(100% - 100px);display: inline-block;vertical-align: top;height: auto;min-height: 20px;">
                            P1/LPSA/38</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="padding: 0;border-collapse: collapse;">
                    <table cellspacing="0" cellpadding="0" style="width:100%;margin-top: -1px;margin-bottom: -18px;">
                        <thead style="background-color: #ddd;padding: 6px 0;">
                            <tr>
                                <th style="text-align: left;font-weight: bold;font-size: 12px;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;">S.No.</th>
                                <th style="text-align: left;width: 44%;font-weight: bold;font-size: 12px;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;">Description
                                    of Goods</th>
                                <th style="font-weight: bold;font-size: 12px;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;">No.
                                    of Batch X Batch Size</th>
                                <th style="font-weight: bold;font-size: 12px;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;">Quantity(Units)</th>
                                <th style="font-weight: bold;font-size: 12px;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;">Unit
                                    Price (USD)</th>
                                <th style="font-weight: bold;font-size: 12px;background-color: #fff;border-bottom: 1px solid #000;">Total(USD)</th>
                            </tr>
                        </thead>
                        <tbody style="min-height: 400px;">
                            <tr>
                                <td style="border-right: 1px SOLID #010101;white-space:nowrap;">1</td>
                                <td style="border-right: 1px SOLID #202020;">
                                    &lt;%= pi.products[i].customerCodeNumber %&gt;(&lt;%=
                                    pi.products[i].client_product_code %&gt;)
                                </td>
                                <td style="border-right: 1px SOLID #171717;text-align: center;">
                                    &lt;%= pi.products[i].quantity %&gt;
                                </td>
                                <td style="border-right: 1px SOLID #494747;text-align: center;">
                                    $&lt;%= pi.products[i].price %&gt;
                                </td>
                                <td style="border-right: 1px SOLID #363636;text-align: center;">
                                    $&lt;%= pi.products[i].flatDiscount %&gt;
                                </td>
                                <td style="text-align: right;">
                                    $&lt;%= pi.products[i].amount %&gt;
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px SOLID #010101;white-space:nowrap;">2</td>
                                <td style="border-right: 1px SOLID #202020;">
                                    &lt;%= pi.products[i].customerCodeNumber %&gt;(&lt;%=
                                    pi.products[i].client_product_code %&gt;)
                                </td>
                                <td style="border-right: 1px SOLID #171717;text-align: center;">
                                    &lt;%= pi.products[i].quantity %&gt;
                                </td>
                                <td style="border-right: 1px SOLID #494747;text-align: center;">
                                    $&lt;%= pi.products[i].price %&gt;
                                </td>
                                <td style="border-right: 1px SOLID #363636;text-align: center;">
                                    $&lt;%= pi.products[i].flatDiscount %&gt;
                                </td>
                                <td style="text-align: right;">
                                    $&lt;%= pi.products[i].amount %&gt;
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px SOLID #010101;white-space:nowrap;height: 100px;"></td>
                                <td style="border-right: 1px SOLID #202020;"></td>
                                <td style="border-right: 1px SOLID #171717;text-align: center;"></td>
                                <td style="border-right: 1px SOLID #494747;text-align: center;"></td>
                                <td style="border-right: 1px SOLID #363636;text-align: center;"></td>
                                <td style="text-align: right;"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"></td>
                                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;">
                                    Total CIF Sea Valparalso, Chile (USD)<br>
                                    Net PI Value
                                </td>
                                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"></td>
                                <td style="border-bottom: 1px solid #000; border-top: 1px solid #000;border-right: 1px solid #000;"></td>
                                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;"></td>
                                <td style="border-bottom: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;text-align: right;">29,863.80
                                    <br> 29,863.80</td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <u>Performa Invoice Value in Words</u>
                    <br> US Dollar sdfsdfsd sdfdsfsdssfdfsdf sdfdsgfddgd dfgfdsgsd
                </td>
            </tr>
            <tr>
                <td colspan="5" style="vertical-align: top;height: 67px;">
                    For Herboveda India :</td>
                <td colspan="" style="text-align: center;vertical-align: top;">
                    <h5>Acceped &amp; Agreed by:</h5>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <p>
                        Please remit the funds to the below:
                        BANK OF NEW YORK, NO-1, WALL STREET, NEW YORK, N.Y. 10015
                        Nostro Account Number 890 0517 794 CHIPS UID 402260 FEDWIRE Routing No. - 021000018 SWIFT CODE
                        IRVT US 3NXXX
                        For further credit to account # 3411132810 of HERBOVEDA INDIA, with Kotak Mahindra Bank,
                        Sector-18, Noida 210301
                        SWIFT CODE: KKBKINBBCPC
                        IEC Code: 0504071629
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- invoice structure Ends here -->
</body>

</html>

var a = ['','one ','two ','three ','four ', 'five ','six ','seven ','eight ','nine ','ten ','eleven ','twelve ','thirteen ','fourteen ','fifteen ','sixteen ','seventeen ','eighteen ','nineteen '];
var b = ['', '', 'twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];

function inWords (num) {
    if ((num = num.toString()).length > 9) return 'overflow';
    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
    if (!n) return; var str = '';
    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
    str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'only ' : '';
    return str;
}

document.getElementById('number').onkeyup = function () {
    document.getElementById('words').innerHTML = inWords(document.getElementById('number').value);
};